<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="header">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--bootstrap-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <link href="/static/css" rel="main"/>
    <div class="p-3 mb-2 bg-info text-white">
        <button class="button"><a href="/">home</a></button>
        <button class="button"><a href="/skill">skills</a></button>
        <button class="button"><a href="/cv">cv</a></button>
        <button class="button"><a th:href="@{/logout}">logout</a></button>
        <a class="w-10 w-lg-5 button btn-primary" th:href="@{https://github.com/ALekseiMokhov}">my github</a>
        <a class="w-10 w-lg-5 button btn-primary" href="/mail">e-mail me</a>
        <div sec:authorize="isAuthenticated()">
            <div th:text="${#authentication.name}"/>
        </div>
    </div>
    </span>
</div>
</body>
</html>