#title{
    margin:40px 0;
}
.button {
  background-color: #5B3A56;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.window {
  right: 10px;
  width: 800px;
}
.oauth_button{
  background-color: #5B3A56;
  border: 2px spotted black;
  padding: 15px 32px;
  text-align: center;
}
.button_container{
  display: flex;
  justify-content: center;
  align-items: center;
}