<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">

    <div th:insert="~{fragments/header}"></div>

</head>
<body>
<div>
</div>
<div class="navi p-3 mb-2 bg-info text-white">
    <button class="header_button "><a href="/">home</a></button>
    <button class="header_button "><a href="/cluster">skill clusters</a></button>
    <button class="header_button "><a href="/group">skill group</a></button>
    <button class="header_button "><a href="/skill">skills</a></button>
</div>
<div class="support p-3 mb-2 bg-info text-white">
    <button onclick="">uuid</button>
</div>
</body>
</html>