<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">

    <div th:insert="~{fragments/header}"></div>

</head>
<body>
<div class="container">
    <form
            onsubmit="
            var payload ={
                    method: 'post' ,
                    headers: {
                    'Content-type': 'application/x-www-form-urlencoded'
                    },
                    body: `username=${this.username.value}&password=${this.password.value}`

            }
            fetch('/login', payload).then(resp => resp.text()).then(text => console.log(text));
            return false;
"
    >
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="sign in"></form>
</div>
</body>
</html>