<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">

    <div th:insert="~{fragments/header}"/>
</head>

<body>
<div class="container-fluid p-3 mb-2 bg-info text-white">

<!--    <form th:action="@{/mail/send}" th:object="${messageEvent}" method="post">
        <div> <input type="email" th:field="${messageEvent.from}" placeholder="enter your email"/></div>
        <div>
            <textarea class="form-control" th:field="${messageEvent.text}" placeholder="enter your message"/></div>
        <input class="button" text="blue" type="submit" value="Submit"/>
    </form>-->
</div>
</body>
</html>