<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container p-3 mb-2 bg-info text-white">
    <button ><a href="/">home</a></button>
    <div class="row">
        <div id="title">
            <h1>Reactive java skills</h1>
        </div>
        <table id="allSkills" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Priority</th>
                <th>Skill Group</th>
            </tr>
            </thead>
            <tbody>
            <tr class="skills" data-th-each="skill : ${skills}">
                <td>[[${skill.name}]]</td>
                <td>[[${skill.level}]]</td>
                <td>[[${skill.priority}]]</td>
                <td>[[${skill.skillGroupId}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>add skill</h4>
        <form th:action="@{/skill/add}" method="post">
            <p>Name: <input type="text" field="name" placeholder="choose skill name"/></p>
            <p>Level: <input type="text" field="level" placeholder="choose your current skill lvl"/></p>
            <p>Priority: <input type="text" field="priority" placeholder="choose the skill priority"/></p>
            <p>SkillGroup: <input type="text" field="skillGroupName" placeholder="bind skill to skill group"/></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</div>

</body>
</html>