<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <div th:insert="~{fragments/header}"></div>
</head>
<body>
<div class="min-vh-100 container-fluid p-3 mb-2 bg-info text-white">
    <div class="row">
        <div id="title">
            <h1>Reactive java skills</h1>
        </div>
        <table id="allSkills" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr class="skills" data-th-each="skill : ${skills}">
                <td>[[${skill.name}]]</td>
                <td>[[${skill.level}]]</td>
                <td>[[${skill.priority}]]</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: ${skill.level}+ '%'" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>filter by lvl</h4>
        <form th:action="@{/skill/lvl}" th:object="${skill}" method="post">
            <input type="text" th:field="${skill.level}" placeholder="choose by skill level"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div>
        <h4>filter by name</h4>
        <form th:action="@{/skill/get}" th:object="${skill}" method="post">
            <input type="text" th:field="${skill.name}" placeholder="choose by skill name"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>

    <div>
        <h4>filter by priority</h4>
        <form th:action="@{/skill/priority}" th:object="${skill}" method="post">
            <input type="text" th:field="${skill.priority}" placeholder="choose by skill priority"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div authorize="hasRole('ADMIN')">
        <h4>add skill</h4>
        <form th:action="@{/skill/add}" th:object="${skill}" method="post">
            <input type="text" class="form-control-sm" th:field="${skill.name}" placeholder="choose skill name"/>
            <select name="level" class="form-control-sm">
                <option value="" disabled selected hidden> select skill level</option>
                <option value="Excellent" th:selected="${skill.level eq '100'}">Excellent</option>
                <option value="Good" th:selected="${skill.level eq '80'}">Good</option>
                <option value="Descent" th:selected="${skill.level eq '60'}">Descent</option>
            </select>
            <input type="text" class="form-control-sm" th:field="${skill.priority}"
                   placeholder="choose skill priority"/>
            <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
        </form>
    </div>
    <div>
        <h4>delete by name</h4>
        <form th:action="@{/skill/delete}" th:object="${skill}" method="post">
            <input type="text" th:field="${skill.name}" placeholder="DELETE by skill name"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
<div th:insert="~{fragments/footer}" }></div>

</body>
</html>